@keyframes ani-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes ani-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ani-swollen {
  0% {
    border: 1px solid transparent;
    box-shadow: unset;
  }
  100% {
    border: $button-border;
    box-shadow: $button-box-shadow;
  }
}

@keyframes ani-engraved {
  0% {
    border: 1px solid transparent;
    box-shadow: unset;
  }
  100% {
    border: $input-border;
    box-shadow: $input-box-shadow;
  }
}

@keyframes ani-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ani-dropdown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: $unit-22;
  }
}

@keyframes ani-rollup {
  0% {
    max-height: $unit-22;
  }
  100% {
    max-height: 0;
  }
}

@mixin call-onetime-ani($ani, $time: 0.5s) {
  animation: $ani $time ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
