$main: rgb(129, 129, 255);
$highlight: rgb(255, 181, 131);
$error: rgb(255, 131, 131);

$highlight-pale: rgb(255, 227, 208);

$main-background-color: rgb(240, 243, 255);

$font-color: rgb(61, 64, 126);
$font-inactive-color: rgb(163, 163, 179);
$font-hover-color: rgb(87, 90, 150);
$font-error-color: rgb(170, 0, 0);
$font-highlight: rgb(214, 145, 98);

$tooltip-border-color: rgb(203, 203, 252);

$button-color: $main-background-color;
$button-hover-color: rgb(231, 233, 253);
$button-border-color: rgb(234, 235, 253);
$button-light-border-color: rgba(255, 255, 255, 0.94);
$button-shadow-border-color: rgb(192, 198, 245);
$button-disabled-color: rgb(236, 238, 245);

$button-highlight-border-color: rgb(247, 218, 199);
$button-highlight-light-border-color: rgba(243, 233, 255, 0.94);
$button-highlight-shadow-border-color: rgb(227, 218, 248);

$button-primary-color: rgb(213, 221, 253);
$button-primary-hover-color: rgb(231, 236, 255);

$button-clear-color: rgb(214, 217, 230);
$button-clear-hover-color: rgb(222, 223, 226);

$input-color: rgb(234, 235, 255);
$input-placeholder-color: rgb(190, 192, 224);
$input-disabled-color: rgb(218, 220, 226);
$input-border-color: rgba(236, 239, 252, 0.51);
$input-light-border-color: rgb(200, 204, 238);
$input-light-border-inner-color: rgba(255, 255, 255, 0.72);
$input-shadow-border-color: rgba(253, 253, 253, 0.55);

$dropdown-selected-option-color: rgb(255, 218, 193);

$scrollbar-color: rgb(190, 190, 223);
$scrollbar-hover-color: rgb(214, 214, 243);

$loading-background-color: rgba(155, 155, 155, 0.5);
$loading-spinner-color: rgb(255, 158, 94);
