$main: rgb(129, 129, 255);
$highlight: rgb(255, 181, 131);
$error: rgb(255, 131, 131);

$main-background-color: rgb(241, 241, 253);

$tooltip-border-color: rgb(203, 203, 252);

$button-hover-color: rgb(231, 233, 253);
$button-border-color: rgb(234, 235, 253);
$button-light-border-color: rgba(255, 255, 255, 0.94);
$button-shadow-border-color: rgb(192, 198, 245);

$input-color: rgb(222, 224, 252);
$input-disabled-color: rgb(242, 243, 255);
$input-border-color: rgba(226, 230, 247, 0.51);
$input-light-border-color: rgb(200, 204, 238);
$input-light-border-inner-color: rgba(246, 246, 255, 0.72);
$input-shadow-border-color: rgba(253, 253, 253, 0.55);

$scrollbar-color: rgb(190, 190, 223);
$scrollbar-hover-color: rgb(214, 214, 243);

$loading-background-color: rgba(155, 155, 155, 0.5);
$loading-spinner-color: rgb(255, 158, 94);
