$font: 'Poppins';

%font-light-no-ani {
  font-family: $font;
  font-weight: 200;
}

%font-medium-no-ani {
  font-family: $font;
  font-weight: 400;
}

%font-bold-no-ani {
  font-family: $font;
  font-weight: 700;
}

%font-light {
  @extend %font-light-no-ani;
  @include call-onetime-ani(ani-opacity);
}

%font-medium {
  @extend %font-medium-no-ani;
  @include call-onetime-ani(ani-opacity);
}

%font-bold {
  @extend %font-bold-no-ani;
  @include call-onetime-ani(ani-opacity);
}

%font-10 {
  font-size: $unit-17;
}

%font-9 {
  font-size: $unit-15;
}

%font-8 {
  font-size: $unit-13;
}

%font-7 {
  font-size: $unit-9;
}

%font-6 {
  font-size: $unit-7;
}

%font-5 {
  font-size: $unit-5;
}

%font-4 {
  font-size: $unit-4;
}

%font-3 {
  font-size: $unit-3;
}

%font-2 {
  font-size: $unit-2;
}

%font-1 {
  font-size: $unit-1;
}
