%center-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

%scroll-area {
  overflow: auto;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$form-input-label-width: $unit-20;
$form-input-width: calc(100% - $unit-20);
