$input-width: 16rem;
$loading-title-width: 22rem;
$loading-text-width: 26rem;

$unit-22: 10rem;
$unit-21: 9rem;
$unit-20: 8rem;
$unit-19: 7rem;
$unit-18: 6rem;
$unit-17: 5rem;
$unit-16: 4.5rem;
$unit-15: 4rem;
$unit-14: 3.5rem;
$unit-13: 3rem;
$unit-12: 2.75rem;
$unit-11: 2.5rem;
$unit-10: 2.25rem;
$unit-9: 2rem;
$unit-8: 1.75rem;
$unit-7: 1.5rem;
$unit-6: 1.25rem;
$unit-5: 1rem;
$unit-4: 0.75rem;
$unit-3: 0.5rem;
$unit-2: 0.25rem;
$unit-1: 0.1rem;
