$input-width: 16rem;
$intro-form-width: 22rem;

$unit-40: 36rem;
$unit-39: 34rem;
$unit-38: 32rem;
$unit-37: 30rem;
$unit-36: 28rem;
$unit-35: 26rem;
$unit-34: 24rem;
$unit-33: 22rem;
$unit-32: 20rem;
$unit-31: 19rem;
$unit-30: 18rem;
$unit-29: 17rem;
$unit-28: 16rem;
$unit-27: 15rem;
$unit-26: 14rem;
$unit-25: 13rem;
$unit-24: 12rem;
$unit-23: 11rem;
$unit-22: 10rem;
$unit-21: 9rem;
$unit-20: 8rem;
$unit-19: 7rem;
$unit-18: 6rem;
$unit-17: 5rem;
$unit-16: 4.5rem;
$unit-15: 4rem;
$unit-14: 3.5rem;
$unit-13: 3rem;
$unit-12: 2.75rem;
$unit-11: 2.5rem;
$unit-10: 2.25rem;
$unit-9: 2rem;
$unit-8: 1.75rem;
$unit-7: 1.5rem;
$unit-6: 1.25rem;
$unit-5: 1rem;
$unit-4: 0.75rem;
$unit-3: 0.5rem;
$unit-2: 0.25rem;
$unit-1: 0.1rem;
