@import 'styles';

.container {
  @extend %font-bold;
  @extend %font-5;
  display: flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    @extend %button-disabled;
  }

  &.pale-color {
    color: $font-inactive-color;
  }

  &.enabled {
    @extend %button;
  }

  &.large-font {
    @extend %font-bold;
    @extend %font-7;
  }

  &.primary {
    background-color: $button-primary-color;

    &:hover {
      background-color: $button-primary-hover-color;
    }
  }

  &.clear {
    background-color: $button-clear-color;

    &:hover {
      background-color: $button-clear-hover-color;
    }
  }
}
