<form [formGroup]="form" class="container" [style]="'width:' + width">
  <ng-container *ngFor="let formSpec of formSpecs">
    <ng-container [ngSwitch]="formSpec.inputType">
      <app-input
        *ngSwitchCase="'text'"
        [name]="formSpec.key"
        [label]="formSpec.label"
        [labelPosition]="formSpec.labelPosition"
        [infoTextType]="formSpec.infoTextType"
        [placeholder]="formSpec.placeholder"
        [minLength]="formSpec.minLength"
        [maxLength]="formSpec.maxLength"
        [required]="formSpec.required"
        [isDisabled]="formSpec.disabled"
        [validator]="formSpec.validMessageGenerator"
        [width]="formSpec.width"
        [showValidationMessage]="showValidationMessage"
        (enter)="onSubmit()"
        [form]="form"
        [valueChange$]="getValueObservableString(formSpec.key)"
      ></app-input>
      <app-input
        *ngSwitchCase="'email'"
        type="email"
        [name]="formSpec.key"
        [label]="formSpec.label"
        [labelPosition]="formSpec.labelPosition"
        [infoTextType]="formSpec.infoTextType"
        [placeholder]="formSpec.placeholder"
        [minLength]="formSpec.minLength"
        [maxLength]="formSpec.maxLength"
        [required]="formSpec.required"
        [isDisabled]="formSpec.disabled"
        [validator]="formSpec.validMessageGenerator"
        [width]="formSpec.width"
        [showValidationMessage]="showValidationMessage"
        (enter)="onSubmit()"
        [form]="form"
        [valueChange$]="getValueObservableString(formSpec.key)"
      ></app-input>
      <app-password-input
        *ngSwitchCase="'password'"
        [name]="formSpec.key"
        [label]="formSpec.label"
        [labelPosition]="formSpec.labelPosition"
        [infoTextType]="formSpec.infoTextType"
        [placeholder]="formSpec.placeholder"
        [minLength]="formSpec.minLength"
        [maxLength]="formSpec.maxLength"
        [required]="formSpec.required"
        [isDisabled]="formSpec.disabled"
        [validator]="formSpec.validMessageGenerator"
        [width]="formSpec.width"
        [showValidationMessage]="showValidationMessage"
        (enter)="onSubmit()"
        [form]="form"
        [valueChange$]="getValueObservableString(formSpec.key)"
      ></app-password-input>
      <app-password-input
        *ngSwitchCase="'password-login'"
        [name]="formSpec.key"
        [label]="formSpec.label"
        [labelPosition]="formSpec.labelPosition"
        [infoTextType]="formSpec.infoTextType"
        [placeholder]="formSpec.placeholder"
        [minLength]="formSpec.minLength"
        [maxLength]="formSpec.maxLength"
        [required]="formSpec.required"
        [isDisabled]="formSpec.disabled"
        [validator]="formSpec.validMessageGenerator"
        [width]="formSpec.width"
        [showValidationMessage]="showValidationMessage"
        (enter)="onSubmit()"
        [form]="form"
        [valueChange$]="getValueObservableString(formSpec.key)"
      >
        <app-password-reset-button></app-password-reset-button>
      </app-password-input>
      <app-area-input
        *ngSwitchCase="'textarea'"
        [name]="formSpec.key"
        [label]="formSpec.label"
        [labelPosition]="formSpec.labelPosition"
        [infoTextType]="formSpec.infoTextType"
        [placeholder]="formSpec.placeholder"
        [minLength]="formSpec.minLength"
        [maxLength]="formSpec.maxLength"
        [required]="formSpec.required"
        [isDisabled]="formSpec.disabled"
        [validator]="formSpec.validMessageGenerator"
        [width]="formSpec.width"
        [height]="formSpec.height"
        [showValidationMessage]="showValidationMessage"
        (enter)="onSubmit()"
        [form]="form"
        [valueChange$]="getValueObservableString(formSpec.key)"
      ></app-area-input>
      <app-dropdown-input
        *ngSwitchCase="'select'"
        [name]="formSpec.key"
        [label]="formSpec.label"
        [labelPosition]="formSpec.labelPosition"
        [infoTextType]="formSpec.infoTextType"
        [placeholder]="formSpec.placeholder"
        [minLength]="formSpec.minLength"
        [maxLength]="formSpec.maxLength"
        [required]="formSpec.required"
        [isDisabled]="formSpec.disabled"
        [validator]="formSpec.validMessageGenerator"
        [width]="formSpec.width"
        [options]="formSpec.options"
        [optionsFetchUrl]="formSpec.optionsFetchUrl"
        [showValidationMessage]="showValidationMessage"
        [form]="form"
        [valueChange$]="getValueObservableString(formSpec.key)"
      ></app-dropdown-input>
      <app-radio-input
        *ngSwitchCase="'radio'"
        [name]="formSpec.key"
        [label]="formSpec.label"
        [labelPosition]="formSpec.labelPosition"
        [infoTextType]="formSpec.infoTextType"
        [placeholder]="formSpec.placeholder"
        [minLength]="formSpec.minLength"
        [maxLength]="formSpec.maxLength"
        [required]="formSpec.required"
        [isDisabled]="formSpec.disabled"
        [validator]="formSpec.validMessageGenerator"
        [width]="formSpec.width"
        [columnCount]="formSpec.columnCount"
        [options]="formSpec.options"
        [optionsFetchUrl]="formSpec.optionsFetchUrl"
        [showValidationMessage]="showValidationMessage"
        [form]="form"
        [valueChange$]="getValueObservableString(formSpec.key)"
      ></app-radio-input>
      <app-checkbox-input
        *ngSwitchDefault
        [name]="formSpec.key"
        [label]="formSpec.label"
        [labelPosition]="formSpec.labelPosition"
        [infoTextType]="formSpec.infoTextType"
        [placeholder]="formSpec.placeholder"
        [minLength]="formSpec.minLength"
        [maxLength]="formSpec.maxLength"
        [required]="formSpec.required"
        [isDisabled]="formSpec.disabled"
        [validator]="formSpec.validMessageGenerator"
        [width]="formSpec.width"
        [columnCount]="formSpec.columnCount"
        [options]="formSpec.options"
        [optionsFetchUrl]="formSpec.optionsFetchUrl"
        [showValidationMessage]="showValidationMessage"
        [form]="form"
        [valueChange$]="getValueObservableArray(formSpec.key)"
      ></app-checkbox-input>
    </ng-container>
  </ng-container>
  <app-button *ngIf="submitLabel" (click)="onSubmit()">{{
    submitLabel
  }}</app-button>
</form>
