<form
  [formGroup]="form"
  class="container"
  [style]="'width:' + width"
  [ngClass]="{ 'button-side': buttonAreaPosition === 'right' }"
>
  <app-button
    *ngIf="buttonAreaPosition !== 'right' && clearLabel"
    (click)="onClear()"
    color="clear"
    >{{ clearLabel }}</app-button
  >
  <div
    class="input-section"
    [ngClass]="{ 'clear-exists': buttonAreaPosition !== 'right' && clearLabel }"
    [ngStyle]="inputSectionStyle"
  >
    <div *ngFor="let formInputSpecItem of formInputSpecs" class="input-row">
      <ng-container
        [ngTemplateOutlet]="
          isSpecArray(formInputSpecItem) ? wrappedInputItem : inputItem
        "
        [ngTemplateOutletContext]="{
          formInputSpec: formInputSpecItem,
          formInputSpecList: formInputSpecItem
        }"
      >
      </ng-container>
      <ng-template #wrappedInputItem let-formInputSpecList="formInputSpecList">
        <div class="line-wrapper">
          <div
            *ngFor="let fis of formInputSpecList; let idx = index"
            class="box"
            [ngClass]="{ 'left-item': idx === 0 }"
          >
            <ng-container
              [ngTemplateOutlet]="inputItem"
              [ngTemplateOutletContext]="{
                formInputSpec: fis,
                labelPositionOverride: getArrayFormInputSpecLabelPosition(
                  idx,
                  formInputSpecList
                )
              }"
            ></ng-container>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="button-section" [ngStyle]="buttonSectionStyle">
    <div #submitInjectTag (click)="onSubmit()">
      <ng-content></ng-content>
    </div>
    <app-button
      *ngIf="submitLabel && submitInjectTag.children.length === 0"
      (click)="onSubmit()"
      color="primary"
      >{{ submitLabel }}</app-button
    >
    <app-button *ngIf="cancelLabel" (click)="onCancel()">{{
      cancelLabel
    }}</app-button>
  </div>
</form>

<ng-template
  #inputItem
  let-formInputSpec="formInputSpec"
  let-labelPositionOverride="labelPositionOverride"
>
  <ng-container [ngSwitch]="formInputSpec.inputType">
    <app-input
      *ngSwitchCase="'text'"
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      (enter)="onSubmit()"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [showValidationMessage]="showValidationMessage"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelWidth]="labelWidth"
      [lengthLabelPosition]="lengthLabelPosition"
      [infoTextType]="infoTextType"
    >
    </app-input>
    <app-color-input
      *ngSwitchCase="'text-color'"
      [valueChange$]="getValueObservableStringPair(formInputSpec.key)"
      (enter)="onSubmit()"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [showValidationMessage]="showValidationMessage"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelWidth]="labelWidth"
      [lengthLabelPosition]="lengthLabelPosition"
      [infoTextType]="infoTextType"
    >
    </app-color-input>
    <app-input
      *ngSwitchCase="'email'"
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      type="email"
      (enter)="onSubmit()"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [showValidationMessage]="showValidationMessage"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelWidth]="labelWidth"
      [lengthLabelPosition]="lengthLabelPosition"
      [infoTextType]="infoTextType"
    ></app-input>
    <app-area-input
      *ngSwitchCase="'textarea'"
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelWidth]="labelWidth"
      [infoTextType]="infoTextType"
    ></app-area-input>
    <app-dropdown-input
      *ngSwitchCase="'select'"
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelWidth]="labelWidth"
      [infoTextType]="infoTextType"
    ></app-dropdown-input>
    <app-radio-input
      *ngSwitchCase="'radio'"
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelWidth]="labelWidth"
      [infoTextType]="infoTextType"
    ></app-radio-input>
    <app-checkbox-input
      *ngSwitchCase="'checkbox'"
      [valueChange$]="getValueObservableArray(formInputSpec.key)"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelWidth]="labelWidth"
      [infoTextType]="infoTextType"
    ></app-checkbox-input>
    <app-date-input
      *ngSwitchCase="'date'"
      [valueChange$]="getValueObservableStringOrUndefined(formInputSpec.key)"
      (enter)="onSubmit()"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelWidth]="labelWidth"
      [infoTextType]="infoTextType"
    ></app-date-input>
    <app-date-range-input
      *ngSwitchCase="'date-range'"
      [valueChange$]="getValueObservableDateRange(formInputSpec.key)"
      (enter)="onSubmit()"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelWidth]="labelWidth"
      [infoTextType]="infoTextType"
    ></app-date-range-input>
    <app-password-input
      *ngSwitchDefault
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      (enter)="onSubmit()"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [showValidationMessage]="showValidationMessage"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelWidth]="labelWidth"
      [lengthLabelPosition]="lengthLabelPosition"
      [infoTextType]="infoTextType"
    >
      <app-password-reset-button
        *ngIf="formInputSpec.inputType === 'password-login'"
      ></app-password-reset-button>
    </app-password-input>
  </ng-container>
</ng-template>
