<div
  class="container"
  [formGroup]="form"
  [ngClass]="{
    'label-top': labelPosition === 'top'
  }"
>
  <app-input-label
    *ngIf="label"
    [label]="label"
    [labelPosition]="labelPosition"
    [labelWidth]="labelWidth"
  ></app-input-label>
  <ng-container *ngIf="optionValues$ | async as optionValues; else loading">
    <div
      *ngIf="selectedOptions$ | async as selectedOptions"
      class="input-section"
      [ngClass]="inputAreaClass"
      [ngStyle]="inputAreaStyle"
    >
      <div *ngFor="let optionRows of getItems(optionValues)" class="row">
        <div
          *ngFor="let option of optionRows"
          class="column"
          [style]="'width:' + columnWidth"
          (click)="selectOption(option.value)"
        >
          <label
            [for]="option.value"
            class="option-label"
            [ngClass]="{
              selected: isSelectedOption(selectedOptions, option.value)
            }"
            >{{ option.label }}</label
          >
          <input
            [id]="componentUniqueId + option.value"
            [formControlName]="name"
            [value]="option.value"
            type="checkbox"
            class="option-input"
            [ngClass]="{
              selected: isSelectedOption(selectedOptions, option.value)
            }"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>
<app-length-text
  *ngIf="displayLength"
  [length]="form.value[name]?.length ?? 0"
  [maxLength]="maxLength"
></app-length-text>
<app-alert-text
  *ngIf="displayAlert && isValidationNeeded"
  [text]="alertMessage"
  [labelPosition]="labelPosition"
></app-alert-text>

<ng-template #loading>
  <app-text-loading></app-text-loading>
</ng-template>
