@import '../../../../../styles/etc-extensions/form-input-extensions';

:host {
  @extend %host;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &.label-top {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .input {
      visibility: hidden;
      height: 0;
      width: 0;
    }

    .input-div {
      @extend %dropdown-display;
      width: calc($form-input-width - $unit-3);

      &.no-label {
        width: 100%;
      }

      &.disabled {
        @extend %input-box-display;
        width: $form-input-width;

        background-color: $input-disabled-color;
        cursor: not-allowed !important;

        &:hover {
          background-color: $input-disabled-color;
        }
      }

      .select-section {
        position: relative;
        display: inline-block;
        width: 100%;

        .select-button {
          @extend %dropdown;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: $unit-10;
          padding-right: 0;

          .select {
            width: calc(100% - $unit-11);
          }

          .icon {
            width: $unit-11;
            text-align: center;
            border: none;
            background-color: transparent;
            @extend %font-5;
            @include call-onetime-ani(ani-opacity);

            &:hover {
              color: $font-hover-color;
            }
          }

          &:disabled {
            cursor: not-allowed !important;
            background-color: $input-disabled-color;
            margin: $unit-3 0 0 $unit-3;
            width: calc(100% - $unit-5);
            height: $unit-9;
          }
        }

        .options {
          margin-top: $unit-2;
          padding: $unit-3;
          max-height: $unit-22;
          overflow-y: auto;
          opacity: 0;
          border-radius: 15px;
          box-shadow: $float-box-shadow;
          background-color: $input-color;
          transition: opacity 0.5s;
          z-index: 1;
          position: absolute;
          width: 100%;
          @include call-onetime-ani(ani-rollup, 0.2s);

          &.visible {
            opacity: 1;
            transition: opacity 0.5s;
            @include call-onetime-ani(ani-dropdown, 0.2s);
          }

          .option {
            @extend %flex-center;
            background-color: transparent;
            border: none;
            border-radius: 35px;
            height: $unit-10;
            width: 100%;
            padding: $unit-1 $unit-4;
            cursor: pointer;

            &:hover {
              background-color: $main-background-color;
            }

            &:active {
              @extend %engraved;
              @include call-onetime-ani(ani-engraved, 0.1s);
              background-color: $main-background-color;
            }

            &.selected {
              @extend %engraved;
              background-color: $dropdown-selected-option-color;
            }
          }
        }
      }
    }
  }

  .placeholder {
    color: $input-placeholder-color;
  }

  ::ng-deep app-input-alert-text {
    margin-top: $unit-4;
  }
}
