<div class="container" [formGroup]="formGroup">
  <div *ngIf="label" class="label">{{ label }}</div>
  <ng-container *ngIf="optionValues$ | async as optionValues; else loading">
    <div
      *ngIf="selectedOption$ | async as selectedOption"
      class="radio-section"
      [ngClass]="{ disabled: isDisabled }"
    >
      <div *ngFor="let optionRows of getItems(optionValues)" class="row">
        <div
          *ngFor="let option of optionRows"
          class="column"
          [style]="'width:' + columnWidth"
          (click)="selectOption(option)"
        >
          <label
            [for]="componentUniqueId + option.value || 'empty'"
            class="option-label"
            [ngClass]="{
              selected: !!option.value && selectedOption.value === option.value,
              placeholder: !option.value
            }"
            >{{ option.label }}</label
          >
          <input
            [id]="componentUniqueId + option.value || 'empty'"
            [formControlName]="name"
            [value]="option.value"
            type="radio"
            class="option-radio"
            [ngClass]="{ selected: selectedOption.value === option.value }"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>
<app-alert-text *ngIf="displayAlert" [text]="alertMessage"></app-alert-text>

<ng-template #loading>
  <app-text-loading></app-text-loading>
</ng-template>
