<app-center-title>Office Retro</app-center-title>
<div class="container">
  <p>
    <app-text [style]="firstParagraphStyle">
      Office Retro is a web application for keeping records of your work and
      achievement to help your career to improve by having self-retrospection.
    </app-text>
  </p>
  <app-text [style]="firstParagraphStyle">
    Office Retro focuses on 4 key retrospections in your office work life:
  </app-text>
  <ol>
    <li><app-text [style]="listTextStyle">What I have done</app-text></li>
    <li>
      <app-text [style]="listTextStyle"
        >What hardships & struggles I have overcome</app-text
      >
    </li>
    <li>
      <app-text [style]="listTextStyle"
        >What contributions I have made to my team/company</app-text
      >
    </li>
    <li>
      <app-text [style]="listTextStyle"
        >What feedback I have received from my colleagues</app-text
      >
    </li>
  </ol>
</div>
<app-back-button></app-back-button>
