<div class="container" [formGroup]="form" [ngClass]="containerClass">
  <select [formControlName]="name" [style]="'width:' + width" class="input">
    <ng-container *ngIf="optionValues$ | async as optionValues">
      <option
        *ngFor="let option of optionValues"
        [value]="option.value"
        [selected]="option.value === form.value[name]"
      >
        {{ option.label }}
      </option>
    </ng-container>
  </select>
  <app-input-label
    *ngIf="label"
    [label]="label"
    (click)="toggleDropdown()"
    [labelPosition]="labelPosition"
    [width]="labelWidth"
    [labelSize]="labelStyle?.labelSize"
    [labelWeight]="labelStyle?.labelWeight"
  ></app-input-label>
  <div
    class="input-div"
    [ngClass]="inputAreaClass"
    [ngStyle]="dropdownInputAreaStyle"
  >
    <div
      class="select-section"
      *ngIf="optionValues$ | async as optionValues; else loading"
    >
      <button
        type="button"
        class="select-button"
        (click)="toggleDropdown()"
        [disabled]="isDisabled"
      >
        <div
          class="select"
          [ngClass]="{ placeholder: !getSelectedOption(optionValues).value }"
        >
          {{ getSelectedOption(optionValues).label || placeholder }}
        </div>
        <i [class]="'icon ' + caretDownIcon"></i>
      </button>
      <div
        #dropdownSection
        class="options"
        [ngClass]="{ visible: isDropdownOpened }"
      >
        <button
          *ngFor="let option of optionValues"
          type="button"
          class="option"
          [ngClass]="{
            placeholder: option.value === '',
            selected: !!option.value && option.value === form.value[name]
          }"
          (click)="selectOption(option)"
        >
          {{ option.label }}
        </button>
      </div>
    </div>
  </div>
</div>
<app-alert-text
  *ngIf="displayAlert"
  [text]="alertMessage"
  [labelPosition]="labelPosition"
></app-alert-text>

<ng-template #loading>
  <app-text-loading></app-text-loading>
</ng-template>
