@import 'styles';

:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  label {
    width: $form-input-label-width;
    @extend %font-bold;
    @extend %font-5;

    &.label-top {
      width: 100%;
      margin-bottom: $unit-3;
    }
  }
}
