@import '../../../../../styles/etc-extensions/form-input-extensions';

.cdk-drag-preview {
  @extend %cdk-drag-preview;
  border-radius: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: $unit-2 0;
  padding: $unit-3;

  .item-button {
    @extend %engraved-slight-no-ani;
    cursor: pointer;
    background-color: $input-color;
  }

  .item-label {
    @extend %font-medium;
    @extend %font-4;
    margin: 0 $unit-5;
  }
}

.cdk-drag-placeholder {
  @extend %cdk-drag-placeholder;
}

.cdk-drag-animating {
  @extend %cdk-drag-animating;
}

:host {
  @extend %host;

  .container {
    margin-bottom: $unit-2;

    .input-div {
      width: calc(100% - $unit-5);
      padding: $unit-4;
      border-radius: 15px;
      @extend %swollen-slight;

      &.disabled {
        .input-border-box {
          .list-section {
            background-color: $input-disabled-color;

            &:hover {
              background-color: $input-disabled-color;
            }
          }
        }
      }

      .input-border-box {
        @extend %center-list;
        width: 100%;
        height: 100%;

        &.no-label {
          width: 100%;
        }

        &.disabled {
          background-color: $input-disabled-color;
          cursor: not-allowed !important;

          &:hover {
            background-color: $input-disabled-color;
          }
        }

        ::ng-deep app-form {
          height: $unit-14;
          width: 100%;

          .container {
            align-items: flex-start;

            ::ng-deep app-input-label {
              .label {
                padding-left: $unit-3;
              }
            }

            .input-section {
              .input-row {
                margin: 0;
              }
            }
          }
        }

        .list-section {
          @extend %textarea-display;
          height: calc(100% - $unit-14);
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding: $unit-3 $unit-5 $unit-5 $unit-5;

          &:hover {
            background-color: $input-color;
          }

          &.cdk-drop-list-dragging .item-row:not(.cdk-drag-placeholder) {
            @extend %cdk-drag-animating;
          }

          .item-row {
            @extend %swollen-slight-no-ani;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: $unit-2 0;
            padding: $unit-3;

            &.disabled {
              opacity: 0.8;
            }

            .item-button {
              @extend %engraved-slight-no-ani;
              cursor: pointer;
              background-color: $input-color;

              &:hover {
                box-shadow: none;
                border: 1px solid transparent;
              }

              &:active {
                background-color: $input-color;
                border: $input-border-slight;
                box-shadow: $input-box-shadow-slight;
              }

              &:disabled {
                cursor: not-allowed;
              }

              &.handle {
                cursor: move;

                &:disabled {
                  cursor: not-allowed;
                }
              }
            }

            .item-label {
              @extend %font-medium-no-ani;
              @extend %font-4;
              margin: 0 $unit-5;
            }
          }
        }
      }
    }
  }

  ::ng-deep app-length-text {
    z-index: -1;
  }

  ::ng-deep app-input-alert-text {
    z-index: -1;
  }
}
