<div class="container" [formGroup]="form" [ngClass]="containerClass">
  <app-input-label
    *ngIf="label"
    [label]="label"
    [for]="name"
    [labelPosition]="labelPosition"
    [width]="labelAreaWidth"
    [labelSize]="labelStyle.labelSize"
    [labelWeight]="labelStyle.labelWeight">
  </app-input-label>
  <div class="input-div" [ngClass]="inputAreaClass" [ngStyle]="inputAreaStyle">
    <div class="input-border-box">
      <app-input-form
        [formInputSpecs]="innerFormInputSpecs"
        [isValidationDisplaying]="false"
        (submitAction)="addOption($event)"
        [labelArea]="{ labelSize: 'unit-5', labelWeight: 400 }"
        infoTextType="length"
        lengthLabelPosition="left"
        [buttonArea]="{ position: 'right', width: 'unit-17' }"
        [isConfirmed]="innerFormSubmittable">
        <app-plus-button [isDisabled]="isDisabled"></app-plus-button>
      </app-input-form>
      <div
        #listSection
        class="list-section"
        cdkDropList
        (cdkDropListDropped)="changeOrder($event)">
        <div
          class="item-row"
          *ngFor="let optionValue of optionValues; let idx = index"
          [ngStyle]="{ 'background-color': optionValue.color }"
          cdkDrag
          cdkDragBoundary=".list-section"
          cdkDragLockAxis="y"
          [cdkDragDisabled]="isDisabled">
          <button
            class="item-button handle"
            type="button"
            [disabled]="isDisabled"
            cdkDragHandle>
            <i [class]="upDownIcon"></i>
          </button>
          <span class="item-label">
            {{ optionValue.label }}
          </span>
          <button
            class="item-button"
            type="button"
            (click)="deleteOption(optionValue)"
            [disabled]="isDisabled">
            <i [class]="crossIcon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-length-text
  *ngIf="displayLength"
  [length]="control?.value.length ?? 0"
  [maxLength]="maxLength">
</app-length-text>
<app-input-alert-text
  *ngIf="displayAlert"
  [label]="label"
  [control]="control"
  [labelPosition]="labelPosition"
  [labelWidth]="labelAreaWidth">
</app-input-alert-text>
