@import 'styles';

:host {
  z-index: 40;
  position: fixed;
  top: $unit-5;
  left: $unit-5;
  display: flex;
  justify-content: center;
  width: calc(100% - $unit-5 - $unit-5);

  .container {
    .toast {
      position: sticky;
      min-width: $unit-35;
      background-color: $input-color;
      padding: $unit-14 $unit-7 $unit-7 $unit-7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-radius: 35px;
      transition: opacity 0.5s;
      box-shadow: $float-box-shadow;
      opacity: 0;
      @include call-onetime-ani(ani-rollup, 0.2s);

      &.show {
        opacity: 1;
        transition: opacity 0.5s;
        @include call-onetime-ani(ani-dropdown, 0.2s);
      }

      &.alert {
        background-color: $highlight-pale;

        .inner-content {
          @extend %swollen-highlight;
        }
      }

      .inner-content {
        width: 100%;
        padding: $unit-5;
        @extend %swollen;
      }

      .close {
        @extend %button;
        position: absolute;
        top: $unit-5;
        right: $unit-7;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: $unit-5;
        height: $unit-7 !important;
        padding: revert !important;
        width: $unit-7;

        &.alert {
          @extend %button-highlight;
          background-color: $button-disabled-color;
        }
      }
    }
  }
}
