<div class="container" *ngIf="toast$ | async as toast">
  <div class="toast" [ngClass]="{ show, alert: toast.type === 'alert' }">
    <button
      type="button"
      class="close"
      (click)="onClose()"
      [ngClass]="{ alert: toast.type === 'alert' }">
      <i [class]="closeIcon"></i>
    </button>
    <div class="inner-content">
      <app-text
        *ngIf="toast.message || toast.type === 'alert'"
        [style]="messageStyle">
        {{ toast.message || defaultAlertMessage }}
      </app-text>
    </div>
  </div>
</div>
