<div class="container" [ngClass]="containerClass">
  <app-input-label
    *ngIf="label"
    [label]="label"
    [labelPosition]="labelPosition"
    [width]="labelAreaWidth"
    [labelSize]="labelStyle.labelSize"
    [labelWeight]="labelStyle.labelWeight">
  </app-input-label>
  <mat-form-field
    [formGroup]="form"
    [ngClass]="inputAreaClass"
    [ngStyle]="inputAreaStyle">
    <input
      matInput
      [matDatepicker]="picker"
      [formControlName]="name"
      (dateChange)="onTypeDate($event)"
      [placeholder]="defaultDateFormat"
      [min]="minDate"
      [max]="maxDate"
      (keyup.enter)="onEnter()"
      autocomplete="off" />
    <i [class]="'icon ' + calendarIcon" (click)="picker.open()"></i>
    <mat-datepicker #picker (closed)="onPickerClose()"></mat-datepicker>
  </mat-form-field>
</div>
<app-input-alert-text
  *ngIf="displayAlert"
  [label]="label"
  [control]="control"
  [labelPosition]="labelPosition"
  [labelWidth]="labelAreaWidth">
</app-input-alert-text>
