<app-password-input
  [input]="getInput()"
  [lengthLabelPosition]="lengthLabelPosition"
  (enter)="onEnter()">
</app-password-input>
<app-password-input
  [input]="getInput(true)"
  [lengthLabelPosition]="lengthLabelPosition"
  (enter)="onEnter()">
</app-password-input>
<app-length-text
  *ngIf="displayLength && lengthLabelPosition !== 'left'"
  [length]="length"
  [maxLength]="maxLength">
</app-length-text>
<app-input-alert-text
  *ngIf="displayAlert"
  [label]="confirmLabel"
  [controls]="alertableControls"
  [labelPosition]="labelPosition"
  [labelWidth]="labelAreaWidth">
</app-input-alert-text>
