<app-password-input
  [valueChange$]="passwordChange$"
  [formInputSpec]="getInputSpec()"
  infoTextType="none"
  [form]="form"
  [showValidationMessage]="showValidationMessage"
  [lengthLabelPosition]="lengthLabelPosition"
  [isValidationNeeded]="isValidationNeeded"
  [labelAreaWidth]="labelAreaWidth"
  [labelStyle]="labelStyle"
  (enter)="onEnter()">
</app-password-input>
<app-password-input
  [valueChange$]="passwordConfirmChange$"
  [formInputSpec]="getInputSpec(true)"
  [infoTextType]="infoTextType"
  [form]="form"
  [showValidationMessage]="showValidationMessage"
  [lengthLabelPosition]="lengthLabelPosition"
  [isValidationNeeded]="isValidationNeeded"
  [labelAreaWidth]="labelAreaWidth"
  [labelStyle]="labelStyle"
  (enter)="onEnter()">
</app-password-input>
