<div class="container" [formGroup]="form" [ngClass]="containerClass">
  <app-input-label
    *ngIf="label"
    [label]="label"
    [labelPosition]="labelPosition"
    [width]="labelWidth"
    [labelSize]="labelStyle?.labelSize"
    [labelWeight]="labelStyle?.labelWeight"
  ></app-input-label>
  <ng-container *ngIf="optionValues$ | async as optionValues; else loading">
    <div
      class="input-section"
      [ngClass]="inputAreaClass"
      [ngStyle]="inputAreaStyle"
    >
      <div *ngFor="let optionRows of getItems(optionValues)" class="row">
        <div
          *ngFor="let option of optionRows"
          class="column"
          [style]="'width:' + columnWidth"
          (click)="selectOption(option)"
        >
          <label
            [for]="componentUniqueId + option.value || 'empty'"
            class="option-label"
            [ngClass]="{
              selected:
                !!option.value &&
                getSelectedOption(optionValues).value === option.value,
              placeholder: !option.value
            }"
            >{{ option.label }}</label
          >
          <input
            [id]="componentUniqueId + option.value || 'empty'"
            [formControlName]="name"
            [value]="option.value"
            type="radio"
            class="option-input"
            autocomplete="off"
            [ngClass]="{
              selected: getSelectedOption(optionValues).value === option.value
            }"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>
<app-alert-text
  *ngIf="displayAlert"
  [text]="alertMessage"
  [labelPosition]="labelPosition"
></app-alert-text>

<ng-template #loading>
  <app-text-loading></app-text-loading>
</ng-template>
