@import '../../styles/form/form-extensions';

:host {
  @extend %host;

  .container {
    .input-section {
      @extend %engraved;
      width: $form-input-width;
      border-radius: 15px;
      padding: $unit-3 $unit-4 $unit-4 $unit-2;

      &.no-label {
        width: 100%;
      }

      &.disabled {
        cursor: not-allowed;
        background-color: $input-disabled-color;

        .row {
          .column {
            cursor: not-allowed;

            .option-label {
              cursor: not-allowed;
            }
          }
        }
      }

      .row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .column {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: $unit-2 0;
          cursor: pointer;

          &:hover {
            .option-label {
              color: $font-hover-color;
            }

            .option-input {
              background: $highlight-pale;
            }
          }

          &:active {
            .option-input {
              box-shadow: unset !important;
            }
          }

          .option-label {
            @extend %font-medium-no-ani;
            @extend %font-4;
            text-align: end;
            width: calc(100% - $unit-12);
            cursor: pointer;

            &.placeholder {
              color: $input-placeholder-color;
            }

            &.selected {
              color: $font-highlight;
            }
          }

          .option-input {
            width: $unit-5;
            height: $unit-5;
            margin: 0 $unit-6 0 $unit-3;
            -webkit-appearance: none;
            appearance: none;
            @extend %swollen-no-ani;
            background: $button-border-color;
            cursor: pointer;

            &:hover {
              background: $highlight-pale;
            }

            &:active {
              box-shadow: unset !important;
            }

            &:disabled {
              cursor: not-allowed;
              box-shadow: unset !important;
              background: $input-placeholder-color;
            }

            &.selected {
              @extend %swollen-highlight-no-ani;
              background: linear-gradient(
                45deg,
                $highlight 0%,
                $highlight-pale 100%
              );

              &:disabled {
                cursor: not-allowed;
                box-shadow: unset !important;
                background: $input-color;
              }
            }
          }
        }
      }
    }
  }

  ::ng-deep app-alert-text {
    margin-top: $unit-2;
  }
}
