@import 'styles';

:host {
  width: 20%;

  .container {
    border: none;
    background-color: transparent;
    cursor: pointer;
    @extend %font-5;
    @include call-onetime-ani(ani-opacity);

    &:hover {
      color: $font-hover-color;
    }
  }
}
