@import 'styles';

:host {
  line-height: $unit-1;
  padding-top: $unit-3;
  padding-right: $unit-5;
  min-width: $unit-13;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .container {
    @extend %font-medium;
    @extend %font-3;

    &.flex-start {
      width: 100%;
      text-align: start;
    }
  }
}
