@import 'styles';

$login-contents-height: 760px;

:host {
  @extend %center-list;
  @extend %scroll-area;
  width: 100%;
  height: fit-content;

  .form {
    margin: $unit-5 0 $unit-10 0;
    // width: calc($intro-form-width + $unit-9 + $unit-9);
    width: 70%;
    @extend %swollen;
    padding: $unit-9;

    &.layoutPlay {
      width: 80%;
    }
  }

  ::ng-deep app-button {
    margin: $unit-4;
  }

  .other-buttons {
    @extend %center-list;
    @extend %engraved;
    padding: $unit-10;
    margin: $unit-18 0 $unit-10 0;

    ::ng-deep {
      app-button {
        button {
          width: $unit-22;
        }
      }
    }
  }
}
