<app-center-title>Office Retro</app-center-title>
<div class="form" [ngClass]="{ loaded: isPageLoaded, layoutPlay }">
  <app-form
    *ngIf="!layoutPlay; else play"
    clearLabel="Clear"
    cancelLabel="Cancel"
    [formInputSpecs]="formInputSpecs"
    [isValidationNeeded]="true"
    (submit)="onSubmit($event)"
    labelWidth="unit-20"
    lengthLabelPosition="left"
    infoTextType="all"
    buttonAreaPosition="right"
    buttonAreaWidth="unit-27"
  >
    <button type="button" style="cursor: pointer">Q$@#$@Q#$AQA#$Y</button>
  </app-form>
</div>
<app-button>Register</app-button>
<div class="other-buttons">
  <app-button [isPale]="true" width="unit-24">Inquiry Page</app-button>
  <app-button [isPale]="true" width="unit-24">About Office Retro</app-button>
</div>

<app-loading [loading]="!isPageLoaded"></app-loading>

<ng-template #play>
  <app-form
    submitLabel="Login"
    cancelLabel="Cancel"
    [formInputSpecs]="formInputSpecs"
    [isValidationNeeded]="true"
    (submit)="onSubmit($event)"
    labelWidth="unit-20"
    buttonAreaPosition="right"
    buttonAreaWidth="unit-27"
  ></app-form>
</ng-template>
