@import 'styles';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.css-size {
  --unit-1: #{$unit-1};
  --unit-2: #{$unit-2};
  --unit-3: #{$unit-3};
  --unit-4: #{$unit-4};
  --unit-5: #{$unit-5};
  --unit-6: #{$unit-6};
  --unit-7: #{$unit-7};
  --unit-8: #{$unit-8};
  --unit-9: #{$unit-9};
  --unit-10: #{$unit-10};
  --unit-11: #{$unit-11};
  --unit-12: #{$unit-12};
  --unit-13: #{$unit-13};
  --unit-14: #{$unit-14};
  --unit-15: #{$unit-15};
  --unit-16: #{$unit-16};
  --unit-17: #{$unit-17};
  --unit-18: #{$unit-18};
  --unit-19: #{$unit-19};
  --unit-20: #{$unit-20};
  --unit-21: #{$unit-21};
  --unit-22: #{$unit-22};
}
