@import '../../../../../styles/form/form-input-extensions';

:host {
  @extend %host;

  .container {
    .input-div {
      @extend %textarea-display;
      width: $form-input-width;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &.no-label {
        width: 100%;
      }

      &.disabled {
        background-color: $input-disabled-color;
        cursor: not-allowed !important;

        &:hover {
          background-color: $input-disabled-color;
        }
      }

      .input {
        @extend %textarea;
      }
    }
  }
}
