<div class="container" [formGroup]="form" [ngClass]="containerClass">
  <app-input-label
    *ngIf="label"
    [label]="label"
    [for]="name"
    [labelPosition]="labelPosition"
    [width]="labelAreaWidth"
    [labelSize]="labelStyle?.labelSize"
    [labelWeight]="labelStyle?.labelWeight"
  ></app-input-label>
  <div class="input-div" [ngClass]="inputAreaClass" [ngStyle]="inputAreaStyle">
    <textarea
      [id]="name"
      class="input"
      [maxLength]="max"
      [formControlName]="name"
      (blur)="onFocusOut()"
      [placeholder]="isDisabled ? '' : placeholder"
    ></textarea>
  </div>
</div>
<app-length-text
  *ngIf="displayLength"
  [length]="form.value[name]?.length ?? 0"
  [maxLength]="maxLength"
></app-length-text>
<app-input-alert-text
  *ngIf="displayAlert"
  [text]="alertMessage"
  [labelPosition]="labelPosition"
></app-input-alert-text>
