@import '../../../../../styles/etc-extensions/form-input-extensions';

:host {
  @extend %host;

  .container {
    .input-div {
      @extend %input-box-display;
      width: $form-input-width;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &.no-label {
        width: 100%;
      }

      &.disabled {
        background-color: $input-disabled-color;
        cursor: not-allowed !important;

        &:hover {
          background-color: $input-disabled-color;
        }
      }

      .input {
        @extend %input-box;

        &.icon-exists {
          width: calc(100% - $unit-11);
        }
      }
    }
  }

  ::ng-deep app-length-text {
    z-index: -1;
  }

  ::ng-deep app-input-alert-text {
    z-index: -1;
  }
}
