<app-center-title>Password Reset</app-center-title>
<div class="form">
  <app-form
    [buttonArea]="{
      submitButton: { label: 'Send Instruction', color: 'default' }
    }"
    [formInputSpecs]="formInputSpecs"
    [isValidationDisplaying]="true"
    (submitAction)="onSubmit($event)"
    infoTextType="alert"
    [labelArea]="{ width: 'unit-18' }">
  </app-form>
  <app-info-text
    >Password reset instruction link will be sent to the email</app-info-text
  >
</div>
<app-back-button></app-back-button>
