@import 'styles';

.container {
  border-radius: 5px;
  width: 100%;
  height: $unit-8;
  background: linear-gradient(
    -45deg,
    rgb(171, 167, 218),
    rgb(213, 211, 238),
    rgb(182, 179, 224),
    rgb(211, 209, 238)
  );
  animation: ani-gradient 5s ease infinite;
  background-size: 400% 400%;

  &.title {
    height: $unit-16;
  }
}
