@import 'styles';

.container {
  @extend %center-list;
  margin-bottom: $unit-5;

  &.button-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .input-section {
      width: 75%;
      margin-top: 0;
    }

    .button-section {
      width: 25%;
    }
  }

  .input-section {
    width: 100%;

    &.clear-exists {
      margin-top: $unit-5;
    }

    .input-row {
      width: 100%;
      margin-bottom: $unit-6;

      .line-wrapper {
        width: 100%;
        @extend %flex-center;

        .box {
          width: calc(50% - $unit-5);

          &.left-item {
            margin-right: $unit-9;
          }
        }
      }
    }
  }

  .button-section {
    margin-left: $unit-4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
