<form [formGroup]="form" class="container" [ngClass]="extraStyle">
  <app-button
    *ngIf="buttonArea?.position !== 'right' && buttonArea?.clearButton"
    (click)="onClear()"
    [color]="buttonArea?.clearButton?.color ?? 'clear'">
    {{ buttonArea?.clearButton?.label }}
  </app-button>
  <div
    class="input-section"
    [ngClass]="{
      'clear-exists':
        buttonArea?.position !== 'right' && buttonArea?.clearButton?.label
    }"
    [ngStyle]="inputSectionStyle">
    <div *ngFor="let formInputSpecItem of formInputSpecs" class="input-row">
      <ng-container
        [ngTemplateOutlet]="
          isSpecArray(formInputSpecItem) ? wrappedInputItem : inputItem
        "
        [ngTemplateOutletContext]="{
          formInputSpec: formInputSpecItem,
          formInputSpecList: formInputSpecItem
        }">
      </ng-container>
    </div>
  </div>
  <div class="button-section" [ngStyle]="buttonSectionStyle">
    <div #submitInjectTag (click)="onSubmit()">
      <ng-content></ng-content>
    </div>
    <app-button
      *ngIf="buttonArea?.submitButton && submitInjectTag.children.length === 0"
      (click)="onSubmit()"
      [color]="buttonArea?.submitButton?.color ?? 'primary'"
      [ngStyle]="submitButtonStyle">
      {{ buttonArea?.submitButton?.label }}
    </app-button>
    <app-button
      *ngIf="buttonArea?.cancelButton"
      [color]="buttonArea?.cancelButton?.color ?? 'default'"
      (click)="onCancel()">
      {{ buttonArea?.cancelButton?.label }}
    </app-button>
  </div>
</form>

<ng-template #wrappedInputItem let-formInputSpecList="formInputSpecList">
  <div class="line-wrapper">
    <div
      *ngFor="let fis of formInputSpecList; let idx = index"
      class="box"
      [ngClass]="{ 'left-item': idx === 0 }">
      <ng-container
        [ngTemplateOutlet]="inputItem"
        [ngTemplateOutletContext]="{
          formInputSpec: fis,
          labelPositionOverride: getArrayFormInputSpecLabelPosition(
            idx,
            formInputSpecList
          )
        }">
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template
  #inputItem
  let-formInputSpec="formInputSpec"
  let-labelPositionOverride="labelPositionOverride">
  <ng-container [ngSwitch]="formInputSpec.inputType">
    <app-text-input
      *ngSwitchCase="'text'"
      [input]="getInputParams(formInputSpec, '')"
      (enter)="onSubmit()"
      [lengthLabelPosition]="lengthLabelPosition">
    </app-text-input>
    <app-color-input
      *ngSwitchCase="'text-color'"
      [input]="getInputParams(formInputSpec, ['', ''])"
      (enter)="onSubmit()"
      [lengthLabelPosition]="lengthLabelPosition">
    </app-color-input>
    <app-text-input
      *ngSwitchCase="'email'"
      [input]="getInputParams(formInputSpec, '')"
      type="email"
      (enter)="onSubmit()"
      [lengthLabelPosition]="lengthLabelPosition">
    </app-text-input>
    <app-area-input
      *ngSwitchCase="'textarea'"
      [input]="getInputParams(formInputSpec, '')">
    </app-area-input>
    <app-dropdown-input
      *ngSwitchCase="'select'"
      [input]="getInputParams(formInputSpec, '')">
    </app-dropdown-input>
    <app-radio-input
      *ngSwitchCase="'radio'"
      [input]="getInputParams(formInputSpec, '')">
    </app-radio-input>
    <app-checkbox-input
      *ngSwitchCase="'checkbox'"
      [input]="getInputParams(formInputSpec, [])">
    </app-checkbox-input>
    <app-date-input
      *ngSwitchCase="'date'"
      [input]="getInputParamsWithOrTypes(formInputSpec, '', undefined)"
      (enter)="onSubmit()">
    </app-date-input>
    <app-date-range-input
      *ngSwitchCase="'date-range'"
      [input]="getInputParamsArrayWithOrTypes(formInputSpec, '', undefined)"
      (enter)="onSubmit()">
    </app-date-range-input>
    <app-list-input
      *ngSwitchCase="'list'"
      [input]="getInputParams(formInputSpec, [])"
      [listInputLabel]="formInputSpec.listInputLabel"
      [isFormSubmitted]="isFormSubmitted">
    </app-list-input>
    <app-password-confirm-input
      *ngSwitchCase="'password-confirm'"
      [input]="getInputParams(formInputSpec, ['', ''])"
      (enter)="onSubmit()"
      [lengthLabelPosition]="lengthLabelPosition">
    </app-password-confirm-input>
    <app-password-input
      *ngSwitchDefault
      [input]="getInputParams(formInputSpec, '')"
      (enter)="onSubmit()"
      [lengthLabelPosition]="lengthLabelPosition">
      <app-password-reset-button
        *ngIf="formInputSpec.inputType === 'password-login'">
      </app-password-reset-button>
    </app-password-input>
  </ng-container>
</ng-template>
