<form [formGroup]="form" class="container" [ngClass]="extraStyle">
  <app-button
    *ngIf="buttonArea?.position !== 'right' && buttonArea?.clearButton"
    (click)="onClear()"
    [color]="buttonArea?.clearButton?.color ?? 'clear'"
    >{{ buttonArea?.clearButton?.label }}</app-button
  >
  <div
    class="input-section"
    [ngClass]="{
      'clear-exists':
        buttonArea?.position !== 'right' && buttonArea?.clearButton?.label
    }"
    [ngStyle]="inputSectionStyle"
  >
    <div *ngFor="let formInputSpecItem of formInputSpecs" class="input-row">
      <ng-container
        [ngTemplateOutlet]="
          isSpecArray(formInputSpecItem) ? wrappedInputItem : inputItem
        "
        [ngTemplateOutletContext]="{
          formInputSpec: formInputSpecItem,
          formInputSpecList: formInputSpecItem
        }"
      >
      </ng-container>
      <ng-template #wrappedInputItem let-formInputSpecList="formInputSpecList">
        <div class="line-wrapper">
          <div
            *ngFor="let fis of formInputSpecList; let idx = index"
            class="box"
            [ngClass]="{ 'left-item': idx === 0 }"
          >
            <ng-container
              [ngTemplateOutlet]="inputItem"
              [ngTemplateOutletContext]="{
                formInputSpec: fis,
                labelPositionOverride: getArrayFormInputSpecLabelPosition(
                  idx,
                  formInputSpecList
                )
              }"
            ></ng-container>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="button-section" [ngStyle]="buttonSectionStyle">
    <div #submitInjectTag (click)="onSubmit()">
      <ng-content></ng-content>
    </div>
    <app-button
      *ngIf="buttonArea?.submitButton && submitInjectTag.children.length === 0"
      (click)="onSubmit()"
      [color]="buttonArea?.submitButton?.color ?? 'primary'"
    >
      {{ buttonArea?.submitButton?.label }}
    </app-button>
    <app-button
      *ngIf="buttonArea?.cancelButton"
      [color]="buttonArea?.cancelButton?.color ?? 'default'"
      (click)="onCancel()"
    >
      {{ buttonArea?.cancelButton?.label }}
    </app-button>
  </div>
</form>

<ng-template
  #inputItem
  let-formInputSpec="formInputSpec"
  let-labelPositionOverride="labelPositionOverride"
>
  <ng-container [ngSwitch]="formInputSpec.inputType">
    <app-text-input
      *ngSwitchCase="'text'"
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      (enter)="onSubmit()"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [showValidationMessage]="showValidationMessage"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelAreaWidth]="labelArea?.width"
      [lengthLabelPosition]="lengthLabelPosition"
      [infoTextType]="infoTextType"
      [labelStyle]="labelStyle"
    >
    </app-text-input>
    <app-color-input
      *ngSwitchCase="'text-color'"
      [valueChange$]="getValueObservableStringPair(formInputSpec.key)"
      (enter)="onSubmit()"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [showValidationMessage]="showValidationMessage"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelAreaWidth]="labelArea?.width"
      [lengthLabelPosition]="lengthLabelPosition"
      [infoTextType]="infoTextType"
      [labelStyle]="labelStyle"
    >
    </app-color-input>
    <app-text-input
      *ngSwitchCase="'email'"
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      type="email"
      (enter)="onSubmit()"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [showValidationMessage]="showValidationMessage"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelAreaWidth]="labelArea?.width"
      [lengthLabelPosition]="lengthLabelPosition"
      [infoTextType]="infoTextType"
      [labelStyle]="labelStyle"
    ></app-text-input>
    <app-area-input
      *ngSwitchCase="'textarea'"
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelAreaWidth]="labelArea?.width"
      [infoTextType]="infoTextType"
      [labelStyle]="labelStyle"
    ></app-area-input>
    <app-dropdown-input
      *ngSwitchCase="'select'"
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelAreaWidth]="labelArea?.width"
      [infoTextType]="infoTextType"
      [labelStyle]="labelStyle"
    ></app-dropdown-input>
    <app-radio-input
      *ngSwitchCase="'radio'"
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelAreaWidth]="labelArea?.width"
      [infoTextType]="infoTextType"
      [labelStyle]="labelStyle"
    ></app-radio-input>
    <app-checkbox-input
      *ngSwitchCase="'checkbox'"
      [valueChange$]="getValueObservableArray(formInputSpec.key)"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelAreaWidth]="labelArea?.width"
      [infoTextType]="infoTextType"
      [labelStyle]="labelStyle"
    ></app-checkbox-input>
    <app-date-input
      *ngSwitchCase="'date'"
      [valueChange$]="getValueObservableStringOrUndefined(formInputSpec.key)"
      (enter)="onSubmit()"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelAreaWidth]="labelArea?.width"
      [infoTextType]="infoTextType"
      [labelStyle]="labelStyle"
    ></app-date-input>
    <app-date-range-input
      *ngSwitchCase="'date-range'"
      [valueChange$]="getValueObservableDateRange(formInputSpec.key)"
      (enter)="onSubmit()"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelAreaWidth]="labelArea?.width"
      [infoTextType]="infoTextType"
      [labelStyle]="labelStyle"
    ></app-date-range-input>
    <app-list-input
      *ngSwitchCase="'list'"
      [valueChange$]="getValueObservableArray(formInputSpec.key)"
      [showValidationMessage]="showValidationMessage"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelAreaWidth]="labelArea?.width"
      [infoTextType]="infoTextType"
      [labelStyle]="labelStyle"
      [listInputLabel]="formInputSpec.listInputLabel"
      [isFormSubmitted]="isFormSubmitted"
    ></app-list-input>
    <app-password-input
      *ngSwitchDefault
      [valueChange$]="getValueObservableString(formInputSpec.key)"
      (enter)="onSubmit()"
      [formInputSpec]="getFormInputSpec(formInputSpec, labelPositionOverride)"
      [showValidationMessage]="showValidationMessage"
      [form]="form"
      [isValidationNeeded]="isValidationNeeded"
      [labelAreaWidth]="labelArea?.width"
      [lengthLabelPosition]="lengthLabelPosition"
      [infoTextType]="infoTextType"
      [labelStyle]="labelStyle"
    >
      <app-password-reset-button
        *ngIf="formInputSpec.inputType === 'password-login'"
      ></app-password-reset-button>
    </app-password-input>
  </ng-container>
</ng-template>
