@import 'styles';

%host {
  @extend %center-list;
  width: 100%;

  .container {
    @extend %flex-center;
    width: 100%;

    &.no-validation {
      margin-bottom: $unit-5;
    }

    &.label-top {
      @extend %center-list;
    }
  }
}
